@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #111;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#logout{
    cursor: pointer;
   margin-right: 50px;
}
.logo {
    width: 100px;
    margin-right: auto;
    float: left;
}
.title {
    flex: 1;
    margin: 0;
}

.logo, .title {
    cursor: pointer;
}

.user-info {
    margin-left: auto;
    margin-right: 20px;
    float: right;
}

main {
    display: flex;
    height: 85%;
}
.container {
    margin-top: 10em;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 {
    display: flex;
    margin-top: 10em;
    padding-top: 10em;
    width: 50%;
    height: 100%;
    font-size: 0.9em;
    gap: 8em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc {
    width: 80%;
    height: 60%;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.tracklist {
    text-align: center;
    font-size: large;
    width: 80%;
    height: 40%;
}

.custom-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Pour que les éléments passent à la ligne si l'espace est insuffisant */
}

.custom-list li {
    width: calc(33.33% - 20px); /* Pour calculer la largeur de chaque élément avec une marge de 20px */
    margin: 10px; /* Marge autour de chaque élément */
    box-sizing: border-box;
    text-align: start;
}

.custom-list li::after {
    content: ""; /* Pour ajouter le séparateur entre les éléments */
    margin-left: 5px; /* Marge à gauche du séparateur */
    margin-right: 5px; /* Marge à droite du séparateur */
}

.custom-list li:last-child::after {
    content: none; /* Pour supprimer le séparateur après le dernier élément */
}







.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;

    img {
        width: 65%;
        height: auto;
    }
}

h2 {
    margin-top: 0;
}
p {
    margin: 5px 0;
}

.innerWrapper {
    display: flex;
    align-items: center;
    width: 29%;
}

.coverWrapper {
    z-index: 10;
    display: block;
}

.cover {
    width: 300px;
    height: 300px;
    margin: auto -70px auto auto;
    background-size: contain;
    box-shadow: 5px 10px 25px rgba(29,29,29,.5058823529411764);

    img {
        width: 300px;
        height: 300px;

    }
}

.inner, .outer {
    display: flex;
    margin: auto;
    border-radius: 50%;

}

.outer {
    float: left;
    width: 300px;
    height: 300px;
    background-color: #080808;
    box-shadow: 5px 10px 25px rgba(29,29,29,.5058823529411764);
}

.inner {
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-size: contain;
    animation-name: spin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

.vynVinyleBox {
    width: 80%;
    height: 15%;
}

.logo, .title {
    cursor: pointer;
}

.CommentsBox {
    margin-top: 7em;
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  